* {
    margin: 0;
    padding: 0;
}

/* =============== ROOT VARIABLES =============== */

:root {
    --color-primary: #F7F8FB;
    --color-sidebar: #ffffff;
}

/* =============== SOME STYLES =============== */
body {
    font-family: sans-serif;
}

.login_container {
    padding: 25px; 
    border: 0.5px solid black;
    border-radius: 10px;
    
    /* make it in the center */
    position: absolute; 
    top:45%;
    left: 50%;
    transform: translate(-50% , -50%)
}

.card-header{
    margin: 0px 0px 20px 0px;

    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.form_group > input {
    margin: 5px 0px;
    padding: 5px;
}

button {
    margin: 15px 0px 0px 0px;
    padding: 5px 20px;

    background-color: #292929;
    color: white;
    border: 1px solid #292929;
    border-radius: 5px;

    font-family: sans-serif;
    font-size: smal;
    cursor: pointer;
}

/* =============== ALERT / SUCCESS =============== */
.alert {
    color: red;
    font-size: smaller;
}

.g_id_signin {
    margin-top: 20px;
    width: 180px;
}