{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>PeriksaTTKI</title>
</head>
<body>

    <main>

        <div class="center">
            <div class="logotext-col">
                <div>
                    <img class="logo" src="{% static 'images/logo.png' %}" width="65">
                </div>
                <div>
                    <h1 class="appname">Periksa <span id="typewriter"></span><span id="cursor">_</span></h1>
                </div>
            </div>
            <div class="subheading">
                <p class="subheading">Ciptakan karya tulis terbaikmu.</p>
            </div>
            <div class="buttons">
                <div class="register">
                    <a href="register"><button class="button button-register">Daftar</button></a>
                    <span>Gratis.</span>
                </div>
                <div class="login">
                    <a href="login"><button class="button button-login">Masuk</button></a>
                </div>
            </div>
        </div>
        
    </main>

    <script>
        function sleep(ms) {
            return new Promise((resolve) => setTimeout(resolve, ms));
        }

        const words = ['TTKI', 'penulisan', 'skripsi', 'esai', 'ejaan', 'KBBI'];
        const el = document.getElementById("typewriter");

        let sleepTime = 100;
        let curWordIndex = 0;
        const writeLoop = async () => {
            while (true) {
                // some logics
                let curWord = words[curWordIndex];

                for (let i = 0; i < curWord.length; i++) {
                    el.innerText = curWord.substring(0, i+1);
                    await sleep(sleepTime);
                }

                if (curWord === "TTKI") {
                    await sleep(sleepTime * 20);
                } else {
                    await sleep(sleepTime * 10);
                }
                

                for (let i = curWord.length; i > 0; i--) {
                    el.innerText = curWord.substring(0, i-1);
                    await sleep(sleepTime);
                }

                await sleep(sleepTime * 10);

                if (curWordIndex === words.length - 1) {
                    curWordIndex = 0;
                } else {
                    curWordIndex++;
                }
            }
        };
        writeLoop();

    </script>
    
</body>
</html>