{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>PeriksaTTKI</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="{% static 'images/logo.png' %}" width="30">
        </div>
        <div>
            <h3 class="appname">Periksa TTKI_ (1.0)</h3>
        </div>
        <div class="logout">
            <a href="logout"><button class="button">Keluar</button></a>
        </div>
    </header>

    <main>
        <!-- USER INPUT -->
        <div class="wrapper-wrapper">
            <div class="wrapper">
                <form class="input_form">
                    {% csrf_token %}
                    <textarea class='input' name="input" maxlength='400' placeholder="Masukkan teks di sini" wrap='hard'></textarea>
                    <button type="submit" class="send_button"><span>></span></button>
                </form>
            </div>
        </div>
        <!-- RESPONSE -->
        <div class="response">
        </div>
        <button class="button copy hidden">Salin</button>
        <div class="suggestion-wrapper">
            <div class="suggestion" popover>
                <strong>Saran perbaikan:</strong>
                <div class="suggestion_list">
                </div>
                <input class="user_correction" type="text" placeholder="Perbaikan lain" onkeypress="handleKeyPress(event)">
                <button class="submit_correction" onclick="sendData()">></button>
                <p class="thankyou_alert"></p>
            </div>
        </div>

    </main>

    <footer>
    </footer>

<script src="{% static 'main.js' %}"></script>


</body>
</html>