<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/login.css">
    <title>PeriksaTTKI-SignUp</title>
</head>
<body>
    
    <div class="login_container">
        <div class="card">
            <div class="card-header">Daftar</div>
            <div class="card-body">
                {% if error_message %}
                    <div class="alert">{{ error_message }}</div>
                {% endif %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form_group">
                        <input type="email" class="form-control" id="email" name="email" maxlength="320" placeholder="Email" required>
                    </div>
                    <div class="form_group">
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
                    </div>
                    <div class="form_group">
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit">Daftar</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>